.CFUserTextEncoding
.Trash/
.aws/
.cache/
.config/
.docker/
.dropbox/
.gitconfig-work
.gitcookies
.helm/
.history
.idlerc/
.infrared/
.ipython/
.kube/
.lesshst
.netrc
.pip/
.pyenv/
.python_history
.rkube/
.snooctl/
.snoologin/
.ssh/
.terraform.d/
.tilt-dev/
.tsh/
.vagrant.d/
.vim/black/
.vim/bundle
.vim/spell/
.viminfo
.zprofile
.zprofile.pysave
.zsh_history
.zsh_sessions/
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
My Drive/
Pictures/
Public/
VirtualBox VMs/
src/
study/
