.aws/
.CFUserTextEncoding
.config/
.docker/
.dropbox/
.helm/
.kube/
.python_history
.snooctl/
.ssh/
.tilt-dev/
.vim/bundle
.viminfo
.zsh_history
.zsh_sessions/
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
src/
