.CFUserTextEncoding
.Trash/
.aws/
.config/
.docker/
.dropbox/
.gitconfig-work
.helm/
.history
.kube/
.lesshst
.netrc
.python_history
.rkube/
.snooctl/
.ssh/
.tilt-dev/
.vagrant.d/
.vim/bundle
.viminfo
.zsh_history
.zsh_sessions/
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
VirtualBox VMs/
src/
